<div class="card" id="product-{{ product.id }}">
    <div class="card-image">
        <figure class="image is-4by3">
            {% for upload in product.upload %}
                <img src="{{ asset('./uploads/products/' ~ upload.filename ) }}" alt="{{ upload.filename }}">
            {% endfor %}
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <p class="is-4 truncate"> {{ product.name }}</p>
                <div class="media-content">
                    <p class="is-size-4">{{ product.price | number_format(0,',',' ') }}€</p>
                    {% if product.promo %}
                        <strong class="has-text-danger">{{ 'title.in_promotion'|trans }}</strong>
                    {% endif %}
                    <p>{% for c in product.categories %}
                            <em class="tag is-light">#{{ c.name }}</em>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="content">
            {{ product.description }}
        </div>
    </div>
    <footer class="card-footer">
        <a href="{{ path('cart_add_product', {'id' : product.id}) }}" class="card-footer-item">{{ 'action.add_cart'|trans }}</a>
        <a href="{{ path('product_show', {'slug' : product.slug}) }}" class="card-footer-item">{{ 'action.product_details'|trans }}</a>
    </footer>
</div>

<style>
    .truncate{
        width: 330px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .content{
         height: 100px;
         overflow: hidden;
         text-overflow: ellipsis;
     }
</style>

