<hr>
<article class="media">
    <figure class="media-left">
        <div class="icon is-large">
            <i class="fas fa-user fa-2x"></i>
        </div>
    </figure>
    <div class="media-content">
        <div class="content">
            {{ form_start(form, {method: 'POST', action: path('comment_new', {'productSlug': product.slug})}) }}
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr' : {'class': 'input' }}) }}
            <button class="button is-primary" style="margin-top: 10px">{{ 'action.publish_comment'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</article>

