<div class="filter">
    {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
        <span class="sr-only">Loading....</span>
    </div>

    {{ form_widget(form.q, { 'attr': {'class': 'input' } }) }}
    {{ form_errors(form.q) }}

    {{ form_widget(form.categories, { 'attr': {'class': 'checkbox' } }) }}
    {{ form_errors(form.categories) }}

    {{ form_widget(form.min, { 'attr': {'class': 'input' } }) }}
    {{ form_errors(form.min) }}

    {{ form_widget(form.max, { 'attr': {'class': 'input' } }) }}
    {{ form_errors(form.max) }}

    {{ form_widget(form.promo, { 'attr': {'class': 'checkbox' } }) }}
    {{ form_errors(form.promo) }}

    <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>
    <br>
    <button type="submit" class="button is-primary">{{'action.filter_search'|trans}}</button>
    {{ form_end(form) }}
</div>