{% for product in products %}
{#    <div class="column is-full-mobile is-one-quarter-desktop">#}
    {% include 'product/_card.html.twig' with {product: product} only %}
{#    </div>#}
{% endfor %}