<p class="title is-4">{{ 'title.product_reviews'|trans }}</p>

{% for comment in product.comments %}
    <article class="media">
        <figure class="media-left">
            <div class="icon is-large">
                <i class="fas fa-user fa-2x"></i>
            </div>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ comment.user.lastname }}</strong> <small>{{ comment.createdAt | date ('d/m/Y h:s')}}</small>
                    <br>
                    {{ comment.content }}
                </p>
            </div>
        </div>
    </article>
{% endfor %}
