{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}

{% block body %}


    <div class="js-filter">
        <div class="columns">
            <div class="column is-2">
                {% include 'product/_filter.html.twig' with {form: form, min: min, max: max} %}
            </div>
            <div class="column is-10-desktop">
                <div class="js-filter-sorting">
                    {% include 'product/_sorting.html.twig' %}
                </div>
                <div class="grid js-filter-content">
                    {% include 'product/_products.html.twig' %}
                </div>

                <div class="js-filter-pagination"  style="margin-top: 2rem;">
                    {% include 'product/_pagination.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
