{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div id="carousel1">
                                {% for upload in product.upload %}
                                    <div class="item">
                                        <img src="{{ asset('./uploads/products/' ~ upload.filename ) }}" alt="">
{#                                        <img src="{{ upload.filename  }}" alt="">#}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="column is-6">
                            <p class="title is-3">{{ product.name }}</p>
                            <p class="subtitle is-3">
                                {% for c in product.categories %}
                                    <em class="tag is-light">#{{ c.name }}</em>
                                {% endfor %}
                            </p>
                            <p class="title is-4 has-text-right">
                                {% if product.promo %}
                                    <strong class="has-text-danger">{{ 'title.in_promotion'|trans }}</strong>
                                {% endif %}
                                {{ product.price }} €
                            </p>
                            <div class="content">
                                <p class="title is-4">{{ 'title.product_summary'|trans }}</p>
                              {{ product.description }}
                            </div>
                            <a href="{{ path('cart_add_product', {'id': product.id}) }}" class="button is-primary">{{ 'action.add_cart'|trans }}</a>
                        </div>
                        <div class="column is-12">
                            <p class="title is-4">{{ 'title.product_content'|trans }}</p>
                            {{ product.content }}
                        </div>
                        <div class="column is-12">
                            {% include 'product/_reviews.html.twig' %}
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="column is-12">
                                {{ render(controller('App\\Controller\\ProductController::commentForm', {'id': product.id})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}