<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            .grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                margin: 10px;
            }
            @media (max-width: 1190px) {
                .grid{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media (max-width: 1022px) {
                .grid{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media (max-width: 500px) {
                .grid{
                    grid-template-columns: repeat(1, 1fr);
                }
            }
            /*fix lors du scroll sur la page*/
            .filter{
                display: block;
                position: sticky;
                top: 20px;
                margin-left: 10px;
            }
        </style>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('carousel_style') }}
        {{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) | raw }}
        {{ encore_entry_script_tags('carousel') | replace({'src=': 'defer src='}) | raw }}
    </head>
    <body>

    <nav class="navbar is-12-tablet" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('product_index') }}">{{ 'nav.products'|trans}}</a>
                <a class="navbar-item" href="{{ path('cart_index') }}">{{ 'nav.cart'|trans}}<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                {% if app.user  %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">{{ app.user.lastname }} {{ app.user.surname }}</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path('profile_index') }}">{{ 'nav.my_info'|trans}}</a>
                        {% if is_granted('ROLE_PUBLISHER') %}
                        <a class="navbar-item" href="{{ path('author_product_index') }}">{{ 'title.my_products'|trans}}</a>
                        {% endif %}
                        <hr class="navbar-divider">
                        <a class="navbar-item">{{ 'nav.contact'|trans}}</a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if app.user %}
                            <a class="button is-danger" href="{{ path('app_logout') }}">{{ 'action.app_logout'|trans}}</a>
                        {% else %}
                            <a class="button is-primary" href="{{ path('app_register') }}"><strong>{{ 'action.app_register'|trans}}</strong></a>
                            <a class="button is-light" href="{{ path('app_login') }}">{{ 'action.app_login'|trans}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

            <div class="container">
                {% block body %}
                {% endblock %}
            </div>

    </body>
    {% block javascripts %}
        <script src="https://kit.fontawesome.com/8a3ed614ce.js" crossorigin="anonymous"></script>
    {% endblock %}
</html>
