<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Facture du {{ invoice.createdAt|date('d/M/Y') }}</title>

    <style>
        header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0;text-align: center; }
        h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: justify; text-transform: uppercase; }
        aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
        aside h1 { border-color: #999; border-bottom-style: solid; }

        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td{
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>

<body>

<header>
    <h1>Facture</h1>
</header>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
{#                            <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">#}
                        </td>
                        <td>
                            Facture #: 123<br>{{ invoice.createdAt|date('d/M/Y')}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table>
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>Sparksuite, Inc.<br></td>
                        <td>{{ invoice.user.gender }} {{ invoice.user.surname }} {{ invoice.user.lastname }}<br>{{ invoice.user.email }}<br></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table>
        <tr class="heading">
            <td style="text-align: center">Produit</td>
            <td style="text-align: center">Prix unitaire</td>
            <td style="text-align: center">Quantité</td>
            <td style="text-align: center">Prix</td>
        </tr>
        {% for item in items %}#}
            <tr class="item">
                <td><span>{{ item.product.name }}</span></td>
                <td style="text-align: right"><span>{{ item.product.price }} €</span></td>
                <td style="text-align: right"><span>{{ item.quantity }}</span></td>
                <td style="text-align: right"><span>{{ item.priceTotal }} €</span></td>
            </tr>
        {% endfor %}

        <tr class="">
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total: {{ invoice.priceTotal }} €</strong></td>
        </tr>
    </table>
    <aside>
            <h1><span>Merci de votre achat !</span></h1>
    </aside>
</div>
</body>
</html>