{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-2">
            {% include 'profile/menu.html.twig' %}
        </div>
        <div class="column">

                {{ form_start(form) }}
                <h1 class="title">{{ 'title.registration'|trans }}</h1>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">{{ 'title.user_sexe'|trans }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form_widget(form.gender, {'attr': {'class' : 'select is-fullwidth'}}) }}
                                    {{ form_errors(form.gender) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">{{ 'title.user_identity'|trans }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                {{ form_widget(form.surname, {'attr': {'class' : 'input'}}) }}
                                {{ form_errors(form.surname) }}
                                <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                {{ form_widget(form.lastname, {'attr': {'class' : 'input'}}) }}
                                {{ form_errors(form.lastname) }}
                                <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">{{ 'title.user_mail'|trans }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-left">
                                {{ form_widget(form.email, {'attr': {'class' : 'input'}}) }}
                                {{ form_errors(form.email) }}
                                <span class="icon is-small is-left"><i class="far fa-envelope"></i></span>
                            </p>
                        </div>
                    </div>
                </div>



                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                    {{ 'action.send'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
