{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <script src="https://code.jquery.com/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    {% include 'default/flash_message.html.twig' %}

    <div class="columns">
        <div class="column is-2">
            {% include 'profile/menu.html.twig' %}
        </div>
        <div class="column">

            <h1 class="title">{{ 'title.my_invoices'|trans }} :</h1>
                <table id="data" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <td>{{ 'title.date_invoice'|trans }}</td>
                            <td>{{ 'title.items_total'|trans }}</td>
                            <td>{{ 'title.price_total'|trans }}</td>
                            <td>{{ 'title.action'|trans }}</td>
                        </tr>
                    </thead>
                    <tbody>

                    {% if invoices is empty %}
                        <tr>
                            <td>Aucune facture !</td>
                        </tr>
                    {% else %}
                    {% for invoice in invoices %}
                        <tr>
                            <td>{{ invoice.createdAt | date("d/m/Y") }}</td>
                            <td>{{ invoice.itemsTotal }}</td>
                            <td>{{ invoice.priceTotal }} €</td>
                            <td><a href="{{ path('profile_download_invoice', {'id': invoice.id }) }}">{{ 'action.download_pdf'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>{{ 'title.date_invoice'|trans }}</td>
                        <td>{{ 'title.items_total'|trans }}</td>
                        <td>{{ 'title.price_total'|trans }}</td>
                        <td>{{ 'title.action'|trans }}</td>
                    </tr>
                    </tfoot>
                </table>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function() {
            $('#data').DataTable();
        } );
    </script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="application/javascript"></script>
{% endblock %}
