<aside class="menu">
    {% set route = app.request.attributes.get('_route') %}
{#    <ul class="menu-list">#}
{#        <li><a>Dashboard</a></li>#}
{#    </ul>#}
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li>
            <a>{{ 'profile.manage_information'|trans }}</a>
            <ul>
                <li><a class="{{ 'profile_index' in route ? 'is-active' }}" href="{{ path('profile_index') }}">{{ 'profile.personnal_information'|trans }}</a></li>
                <li><a class="{{ 'profile_password' in route ? 'is-active' }}" href="{{ path('profile_password') }}">{{ 'profile.manage_information'|trans }}</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Transactions
    </p>
    <ul class="menu-list">
        <li><a class="{{ 'profile_invoice' in route ? 'is-active' }}" href="{{ path('profile_invoice') }}">{{ 'title.my_invoices'|trans }}</a></li>
{#        <a href="{{absolute_url(path('resetting', {'id': user.id, 'token': user.token}))}}">Changer le mot de passe</a>#}
    </ul>
</aside>