{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% include 'default/flash_message.html.twig' %}

    <div class="columns">
        <div class="column is-2">
            {% include 'profile/menu.html.twig' %}
        </div>
        <div class="column">

            {{ form_start(formPassword) }}
            <h1 class="title">{{ 'profile.change_password'|trans }}</h1>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{ 'profile.old_password'|trans }}</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {{ form_widget(formPassword.oldPassword, {'attr': {'class' : 'input'}}) }}
                            {{ form_errors(formPassword.oldPassword, {'attr': {'class' : 'has-text-danger'}}) }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{ 'profile.new_password'|trans }}</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {{ form_widget(formPassword.newPassword , {'attr': {'class' : 'input'}}) }}
                            {{ form_errors(formPassword.newPassword, {'attr': {'class' : 'has-text-danger'}}) }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{ 'profile.confirm_password'|trans }}</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {{ form_widget(formPassword.confirmPassword, {'attr': {'class' : 'input'}}) }}
                            {{ form_errors(formPassword.confirmPassword, {'attr': {'class' : 'has-text-danger'}}) }}
                        </p>
                    </div>
                </div>
            </div>


            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">
                                {{ 'action.send'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(formPassword) }}


        </div>
    </div>
{% endblock %}
