<form method="post" action="{{ path('author_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="button is-small is-danger"><i class="far fa-trash-alt"></i></button>
</form>