{{ form_start(form_product) }}
    <div class="columns">
        <div class="column">
            {{ form_label(form_product.name, 'title.product_name') }}
            {{ form_widget(form_product.name, {'attr' : {'class' : 'input'}}) }}
        </div>
        <div class="column">
            {{ form_label(form_product.price, 'title.product_price') }}
            {{ form_widget(form_product.price, {'attr' : {'class' : 'input'}}) }}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            {{ form_label(form_product.description, 'title.product_summary') }}
            {{ form_widget(form_product.description, {'attr' : {'class' : 'textarea'}}) }}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            {{ form_label(form_product.content, 'title.product_content') }}
            {{ form_widget(form_product.content, {'attr' : {'class' : 'textarea'}}) }}
        </div>
    </div>


    <div class="columns">
        <div class="column">
            {{ form_label(form_product.promo, 'title.in_promotion') }}
            {{ form_widget(form_product.promo, {'attr' : {'class' : 'checkbox'}}) }}
        </div>
        <div class="column">
            {{ form_label(form_product.online, 'title.is_online') }}
            {{ form_widget(form_product.online, {'attr' : {'class' : 'checkbox'}}) }}
        </div>
        <div class="column">
            {{ form_label(form_product.categories, 'title.product_categories') }}
            {{ form_widget(form_product.categories, {'attr' : {'class' : 'checkbox'}}) }}
        </div>
    </div>


    <button type="submit" class="button is-primary">{{ 'action.publish_product'|trans }}</button>
{{ form_end(form_product) }}
