{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" style="margin-top: 4rem">
    <h1 class="title">{{ 'title.my_products'|trans }} :</h1>
        <table class="table table is-striped table is-hoverable table is-fullwidth">
            <thead>
                <tr>
                    <td>{{ 'title.product_id'|trans }}</td>
                    <td>{{ 'title.product_name'|trans }}</td>
                    <td>{{ 'title.product_price'|trans }}</td>
                    <td colspan="">Actions</td>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td><a href="{{ path('author_product_show', {'id' : product.id}) }}">{{ product.name }}</a></td>
                    <td>{{ product.price }}</td>
                    <td>
                        <div class="columns">
                            <div class="column is-2">
                                <a href="{{ path('author_product_edit', {'id' : product.id}) }}" class="button is-success is-small"><i class="fas fa-edit"></i></a>
                            </div>
                            <div class="column is-2">
                                <a href="{{ path('author_upload', {'id' : product.id}) }}" class="button is-info is-small"><i class="fas fa-camera"></i></a>
                            </div>
                            <div class="column is-2">
                                {% include 'product/author/_delete_form.html.twig' %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}