{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 4rem">

        <h1 class="title">{{ 'title.my_cart'|trans }} :</h1>
        {% if items | length > 0  %}
            <table class="table table is-striped table is-hoverable table is-fullwidth">
                <thead>
                <tr>
                    <th>{{ 'title.product_name'|trans }}</th>
                    <th>{{ 'title.product_price'|trans }}</th>
                    <th>{{ 'title.cart_quantity_product'|trans }}</th>
                    <th>{{ 'title.cart_total'|trans }}</th>
                    <th class="text-center">
                        <a class="btn btn-info btn-sm" href="{{ path('cart_remove') }}"><i class="fas fa-cart"></i>Clean cart</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path('product_show', {'slug': item.product.slug}) }}">{{ item.product.name }}</a></td>
                        <td>{{ item.product.price }}</td>
                        <td><span class="badge badge-info">{{ item.quantity }}</span></td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td class="text-center">
                            <a class="button is-danger is-small" href="{{ path('cart_remove_product', {'id': item.product.id }) }}"><i class="fas fa-trash"></i></a>
                            {% if item.quantity > 1 %}
                                <a class="button is-warning is-small" href="{{ path('cart_remove_item', {'id': item.product.id }) }}"><i class="fas fa-minus"></i></a>
                            {% endif %}
                            <a class="button is-success is-small" href="{{ path('cart_add_product', {'id': item.product.id }) }}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-right" colspan="4">{{ 'title.cart_total'|trans }} : </td>
                    <td><strong>{{ total }} €</strong></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <p>{{ 'title.cart_empty'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
