<form method="post" enctype="multipart/form-data" action="{{ path('author_upload', {'id' : product_id } ) }}">
    <div class="form-group">
        <input type="file" id="upload_upload" name="upload[upload][]" multiple is="drop-files" class="custom-file-input">
    </div>
    <button type="submit" class="button is-primary">Envoyer</button>
</form>

<script type="module" src="//unpkg.com/@grafikart/drop-files-element"></script>