{% extends 'base.html.twig' %}

{% block title %}Hello UploadController!{% endblock %}

{% block body %}

    <div class="container">
    <h1 class="title">Adding a new product</h1>

    {% include 'product/upload/_form.html.twig' %}
    </div>

{% endblock %}