
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="notification is-success">
            <button class="delete" onclick="this.parentElement.style.display='none';"></button>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="notification is-danger">
            <button class="delete" onclick="this.parentElement.style.display='none';"></button>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('edit') %}
        <div class="notification is-link">
            <button class="delete" onclick="this.parentElement.style.display='none';"></button>
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}