.is-loading::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: .5;
    z-index: 4;
}

.is-loading .spinner-border{
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
}

.spinner-border {
    border: 16px solid #FFFFFF; /* Light grey */
    border-top: 16px solid #00d1b2; /* Blue */
    border-radius: 50%;
    /*width: 120px;*/
    /*height: 120px;*/
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

