.carousel{
    position: relative;
    overflow: hidden;
}
.carousel__container{
    /*content: '';*/
    /*clear: both;*/
    /*display: table;*/
    transition:  transform 0.3s;
    transform: translate3d(0,0,0);
}
.carousel__item{
    float: left;
}
.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel__next, .carousel__prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background: green center center no-repeat;
    background-size: 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.carousel__prev{
    right: auto;
}
.carousel__prev:hover, .carousel__next:hover{
    transform: scale(1.2);
}
.carousel__next-hidden, .carousel__prev-hidden{
    opacity: 0;
}