{% extends 'base.html.twig' %}

{% block body %}

	{% include'/default/flash_message.html.twig' %}

	<div class="container has-text-centered">
		<div class="column is-4 is-offset-4">

			<h3 class="title has-text-black">{{ 'title.renew_password'|trans }}</h3>
			<hr class="login-hr">
			<div class="box">
				{{form_start(form)}}

				<div class="field">
					<div class="control">
						{{form_widget(form.plainPassword.first, {'attr': {'class': 'input is-large', 'placeholder' : 'title.user_password'}})}}
					</div>
				</div>
				<div class="field">
					<div class="control">
						{{form_widget(form.plainPassword.second, {'attr': {'class': 'input is-large', 'placeholder' : 'title.user_password'}})}}
					</div>
				</div>
				<button  class="button is-primary" type="submit">{{ 'action.send'|trans }}</button>

				{{form_end(form)}}
			</div>
		</div>
	</div>

{% endblock %}