{% extends 'base.html.twig' %}

{% block body %}
    {% include'/default/flash_message.html.twig' %}

    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">

            <h3 class="title has-text-black">{{ 'title.forgotten_password'|trans }}</h3>
            <hr class="login-hr">
            <p class="subtitle has-text-black">{{ 'title.forgotten_password_help'|trans }}</p>
            <div class="box">
                {{form_start(form)}}

                <div class="field">
                    <div class="control">
                {{form_widget(form.email, {'attr': {'class': 'input is-large', 'placeholder' : 'title.user_mail'}})}}
                    </div>
                </div>
                <button  class="button is-primary" type="submit">{{ 'action.send'|trans }}</button>
                {{form_end(form)}}

            </div>
        </div>
    </div>
{% endblock %}