{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        .hero.is-success {
            background: #FFF;
        }
        .hero .nav, .hero.is-success .nav {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .box {
            margin-top: 5rem;
        }
        input {
            font-weight: 300;
        }
        p {
            font-weight: 700;
        }
        p.subtitle {
            padding-top: 1rem;
        }

        .login-hr{
            border-bottom: 1px solid black;
        }

        .has-text-black{
            color: black;
        }

        .field{
            padding-bottom: 10px;
        }

        .fa{
            margin-left: 5px;
        }
    </style>

    <section class="hero is-success">
        <div class="hero-body">
            {% include'/default/flash_message.html.twig' %}
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">{{ 'title.welcome'|trans }}</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">{{ 'title.welcome_login'|trans }}</p>
                    <div class="box">

                        <form method="post">
                                {% if error %}
                                    <div class="notification is-danger">
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    </div>
                                {% endif %}
                            <div class="field">
                                <div class="control">
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input is-large" placeholder="{{ 'title.user_mail'|trans }}" required autofocus>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="password" id="inputPassword" required placeholder="{{ 'title.user_password'|trans }}">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" name="_remember_me"> {{ 'title.remember_me'|trans }}
                                </label>

                            </div>
                            <button class="button is-block is-primary is-large is-fullwidth">{{ 'action.app_login'|trans }}<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>

                    </div>
                    <p class="has-text-grey">
                        <a href="{{ path('app_register') }}">{{ 'action.app_register'|trans }}</a> &nbsp·&nbsp;
                        <a href="">{{ 'title.forgotten_password'|trans }}</a> &nbsp·&nbsp
                        <a href="">{{ 'title.need_help'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
