{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}

    <div class="columns is-centered" style="margin-top: 50px">

        {{ form_start(registrationForm, {'attr' : {'class':'box'}}) }}
        <h1 class="title">{{ 'title.registration'|trans }}</h1>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{ 'title.user_sexe'|trans }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            {{ form_widget(registrationForm.gender, {'attr': {'class' : 'select is-fullwidth'}}) }}
                            {{ form_errors(registrationForm.gender) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{ 'title.user_identity'|trans }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        {{ form_widget(registrationForm.surname, {'attr': {'class' : 'input'}}) }}
                        {{ form_errors(registrationForm.surname) }}
                        <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                        {{ form_widget(registrationForm.lastname, {'attr': {'class' : 'input'}}) }}
                        {{ form_errors(registrationForm.lastname) }}
                        <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{ 'title.user_mail'|trans }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-left">
                        {{ form_widget(registrationForm.email, {'attr': {'class' : 'input'}}) }}
                        {{ form_errors(registrationForm.email) }}
                        <span class="icon is-small is-left"><i class="far fa-envelope"></i></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">{{ 'title.user_password'|trans }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-left">
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class' : 'input'}}) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                        <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class' : 'input'}}) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                        <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                    </p>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            {{ 'action.registration'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(registrationForm) }}

    </div>

{% endblock %}
